@import url("https://rsms.me/inter/inter-ui.css");
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Inter UI", sans-serif;
  color: white;
}

@media (max-width: 500px) {
  body {
    font-size: inherit;
    text-align: center;
  }
}

.titan-background {
  position: absolute;
  width: 100%;
  background-image: linear-gradient(-180deg, #000000 0%, #200835 100%);
  overflow: hidden;
  z-index: 1;
  /* Make the rubber band scroll not show empty white space */
  top: -10%;
  height: 120%;
  min-height: 120vh;
  margin-bottom: -20%;
}

.stars {
  position: absolute;
  top: 0;
  width: 300vw;
  height: 100vh;
  transform: translate(0%, 0%);
  background-size: contain;
  background-repeat: repeat;
  transform-origin: top left;
}

.stars-L {
  background-image: url("assets/stars-L.svg");
  background-size: 890px;
  height: 750px;
  animation: panning-stars 200s linear infinite alternate;
}

.stars-M {
  background-image: url("assets/stars-M.svg");
  height: 530px;
  animation: panning-stars 300s linear infinite alternate;
}

.stars-S {
  background-image: url("assets/stars-S.svg");
  height: 370px;
  animation: panning-stars 400s linear infinite alternate;
}

@keyframes panning-stars {
  from {
    transform: translate(-20%, 0%);
  }

  to {
    transform: translate(-80%, -40%);
  }
}

.introsection {
  position: relative;
  z-index: 2;
  padding: 3% 0 1% 0;
  width: 95%;
  margin: auto;
}

.hireme {
  font-weight: bolder;
  color: #000000;
  padding: 0 16px;
  background: #0091e1;
  width: fit-content;
}

.skillset {
  font-weight: bolder;
  color: #000000;
  padding: 0 16px;
  background: #0091e1;
  font-size: 75%;
}

h1 {
  display: block;
  font-size: 80px;
  margin: 0;
}

@media (max-width: 500px) {
  body {
    font-size: inherit;
    text-align: center;
  }

  h1 {
    font-size: 16vw;
  }

  h2 {
    font-size: 13vw;
  }

  h1 {
    font-size: 10vw;
  }
}

h2 {
  display: block;
  font-weight: 500;
  font-size: 24px;
}

h3 {
  font-weight: 300;
  font-size: 24px;
  margin: 0 0 24px 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

.title-marvel {
  font-weight: bolder;
  color: #000000;
  letter-spacing: -2px;
  text-transform: uppercase;
  padding: 0 16px;
  background: #0091e1;
  font-family: 'Rubik Moonrocks';
}

.title-studios {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: #0091e1;
  letter-spacing: -2px;
  padding: 0 16px;
  border-color: #0091e1;
  border-top: 8px solid;
  border-bottom: 8px solid;
  line-height: 1;
  font-size: 75%;
}

code {
  display: block;
  box-sizing: border-box;
  font-size: 180%;
  width: 100%;
  padding: 16px 24px;
  background: rgba(0, 165, 225, 0.2);
  border: 1px solid #0091e1;
  border-radius: 8px;
  margin-bottom: 16px;
}

/* section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}
*/

.demo scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo scroll:hover {
  opacity: .5;
}

#head-section scroll {
  padding-top: 70px;
}

#head-section scroll span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


.header {
  height: 100vh;
}

.skills {
  margin-top: 64px;
}

.footer {
  margin-top: 224px;
}

.footer img {
  height: 104px;
  width: auto;
}